{% extends "ifood/layout.html" %}
{% block title %}
Interface de Abertura de Conta
{% endblock %}
{% block content %}
<h3>Lojas</h3>
<br>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
    <li><a href="{% url 'selecionarProduto' %}" class="navbar-item">Restaurante</a></li>
    <li><a href="{% url 'selecionarProduto' %}" class="navbar-item">Restaurante</a></li>
    <li><a href="{% url 'selecionarProduto' %}" class="navbar-item">Restaurante</a></li>
    <li><a href="{% url 'selecionarProduto' %}" class="navbar-item">Restaurante</a></li>
    <li><a href="{% url 'selecionarProduto' %}" class="navbar-item">Restaurante</a></li>
</ul>

{% endblock %}